.index {
    padding: 100px 0px;
    background-color: #ffffff;
    position: relative;
    text-align: center;
    display: flex; /* 수정: flex 컨테이너로 변경 */
    flex-direction: column; /* 수정: 세로 방향으로 정렬 */
    justify-content: center; /* 추가: 세로 중앙 정렬 */
}

.index .input {
    width: 130px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    text-align: center;
    font-size: 12pt;
    margin-bottom: 10px; /* 수정: 아래 여백 추가 */
}

.index .nickname_text {
    line-height: 1;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    margin-bottom: 10px;
}
.index .submit {
    width: 60px;
    height: 22px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.roomSelect {
    padding: 100px 0px;
    background-color: #ffffff;
    position: relative;
    text-align: center;
    display: flex; /* 수정: flex 컨테이너로 변경 */
    flex-direction: column; /* 수정: 세로 방향으로 정렬 */
    justify-content: center; /* 추가: 세로 중앙 정렬 */
}
.roomSelect .table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.roomSelect .table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.roomSelect .table tr:nth-child(even){background-color: #f2f2f2;}
.roomSelect .table tr:hover{background-color: #ddd;}
.roomSelect .table th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}